@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color:white;
    font-weight:300;
    font-size: larger;
    
}
.drawer-side a{
    background-color:transparent;
}
.title-text{
   @apply text-3xl md:text-4xl lg:text-5xl mt-2 md:mt-4  font-medium text-center my-5 md:my-12 lg:my-16
}