@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color:white;
    font-weight:300;
    font-size: larger;
    
}
.drawer-side a{
    background-color:transparent;
}